@{
  ViewData["Title"] = "Clients Page";
}

<style>
  .glyphicon-large {
    font-size: 15px;
    position: relative;
    top: 5px;
    border: 1px solid rgb(211,211,211);
    padding: 4px 4px 4px 4px;
    border-radius: 3px 3px 3px 3px;
  }
</style>
<br />
<h1>Clientes</h1>

<div id="total"></div>
<br /><br />
<div id="ClientsGrid"></div>
<script src="~/js/VidaAnimalScripts/Client/client.js"></script>